* {
  font-family: 'Raleway', sans-serif;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
  background-color: rgb(228, 228, 228);
  font-size: 10px,
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
}
th {
  padding: 10px;
}

.expense-input {
  width: 65px;
}

.pie-chart{
  height: 300px;
  width: 300px;
  position: relative;
  padding-top: 10px;
}

/* .progress{
  padding: 10%;
} */

.blogPost {
  text-align: center;
}
.login{
    line-height: 1em;
    display: inline-block;
    text-decoration: none;
    /* padding: 120px; */
    margin-left: 750px;
}
a{
  color: whitesmoke;
}

#deleteButton {
  border-radius: 3%;
  width: 6px;
  height: 10px;
  font-size: 10px;
  text-align: center;
  display: inline-block;
  text-overflow: ellipsis;
  background-color: Transparent;
  border: none;
  margin-bottom: 10px;
  color: rgb(224, 51, 51);
}

/* .entertainment{
  padding-right: 15px;
  padding-left: 5px;
  font-size: 13px;
} */

#deleteButton :hover {
  cursor: pointer;
}

#editButton {
  height: 2.5px;
  width: 2.5px;
  color: rgb(138, 138, 138);
}

.expenseTitle {
  text-align: center;
}

.expenseEntryForm {
  display: inline-block;
  margin-left: 32%;
  margin-top: 2.5%;
  background-color: white;
  padding: 10px;
  border: 2px solid black;
  border-radius: 2%;
}

.expenseEditForm {
  display: inline-block;
  margin-left: 32%;
  margin-top: 2.5%;
  background-color: white;
  padding: 10px;
  border: 2px solid black;
  border-radius: 2%;
}

#expenseCategoryDropdown {
  height: 20px;
}

#expenseQuestion {
  justify-content: left;
}

#expenseAnswer {
  float: right;
}

.expenses {
  width: auto;
  height: auto;
  padding: auto;
  border: 2px solid black;
}

#expensesText {
  margin-left: 10px;
  margin-right: 10px;
}

#addSubmit {
  border-radius: 5%;
  float: right;
}

#saveExpense {
  border-radius: 5%;
  float: right;
}

#profileHeader {
  text-align: center;
  text-decoration: underline;
}

.totalSpending, .home, .entertainment, .transportation, .daily{
  padding-right: 20px;
  padding-left: 5px;
  font-size: 12px;
}

