html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
}
th {
  padding: 10px;
}

.expense-input {
  width: 65px;
}

.pie-chart{
  height: 300px;
  width: 300px;
  position: relative;
  padding-top: 15px;
}

/* .progress{
  padding: 10%;
} */

.blogPost {
  text-align: center;
}
.about{
  text: center;
  margin-left: 50px;
  margin-right: 50px;
}
.intro{
  text: center;
  margin-left: 50px;
  margin-right: 50px;
}